{% extends 'main/layout.html' %}}

{% load static %}

{% block title %}Актуальность{% endblock %}

{% block content %}
    <div class="features">
        <h1>Актуальность</h1>
        <p>Заключается в проблематичном обслуживании большого потока клиентов в спортивных залах. Как правило, количество работников обслуживающего персонала не хватает для того,  чтобы обслужить всех клиентов за максимально короткий срок. В связи с этим на ресепшене образуются метровые очереди, клиенты получают негативные эмоции, а организация теряет потенциальных клиентов.</p>

    </div>
{% endblock %}